/*----------------------------*/
/*-- My Tools - v 1.0       --*/
/*-- last update 2023-02-21 --*/
/*----------------------------*/

/*----- Navigation bar & footer -----*/

nav, footer {
	background-color: #7d4600;	/*chocolate*/
}

.navbar {
	border-radius: 0px;
}

.navbar-brand {
	width: 150px;
	font-weight: bold;
	color: #c1df1f !important;	/*pear*/
}

button, .btn {
	background-color: #f26419 !important;	/*orange*/
	color: #000000;
	font-weight: bold !important;
	margin: 10px 30px;
}

.btn {
	height: 30px;
	width: 100px;
	padding: 5px !important;
}

.btn.active {
	box-shadow: none;
	background-color: #0074cc !important;	/*blue*/
	color: #ffffff !important;
}

.btn:hover {
	color: #ffffff;
}

.icon-bar {
	background-color: #ffffff;
}

footer {
	height: 20px;
	margin-top: 30px;
	padding-top: 2px;
	padding-left: 15px;
	font-style: italic;
	font-weight: bold;
	font-size: 80%;
	color: #c1df1f;	/*pear*/
}


/*----- Content -----*/

main {
	margin: 15px;
}

h1 {
	color: #0074cc;		/*blue*/
}

details {
	display: inline-block;
	float: left;
}

summary {
	cursor: pointer;
	display: list-item;
	font-weight: bold;
	font-size: 150%;
	color: #c14b0b;		/*mahogany*/
	padding-top: 10px;
}

details > p {
	margin: 0px 25px;
	padding-bottom: 10px;
}

details > p > a {
	color: #f26419;	/*orange*/;
}

img {
	border: solid 1px #0074cc;	/*blue*/
}

.noborder {
	border: none;	
	margin-top: 15px;
}
