/*----------------------------*/
/*-- My Tools - v 6.0       --*/
/*-- style.css              --*/
/*-- last update 2023-03-18 --*/
/*----------------------------*/


/*----- Navigation bar & footer -----*/

body {
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-size: 10pt !important;
	display: flex;				/*sticky footer*/
	min-height: 100vh;
	flex-direction: column;
}

main{
	flex: 1;
}

nav, footer {
	background-color: #7d4600;	/*chocolate*/
}

.navbar {
	border-radius: 0px;
	margin-bottom: 5px;
}

.navbar-brand {
	width: 121px;
	margin-left: 0px !important;
	padding: 15px 4px;
	font-weight: bold;
	color: #c1df1f !important;	/*pear*/
}

button, .btn {
	background-color: #f26419 !important;	/*orange*/
	color: #000000;
	font-weight: bold !important;
	margin: 10px 20px;
}

.btn {
	height: 30px;
	width: 110px;
	padding: 5px !important;
}

.btn.active {
	box-shadow: none;
	background-color: #0074cc !important;	/*blue*/
	color: #ffffff !important;	/*white*/
}

.btn:hover {
	color: #ffffff;	/*white*/
}

.icon-bar {
	background-color: #ffffff;	/*white*/
}

.nav>li>a {
/*	float: right;*/
}

footer {
	margin-top: 10px;
	padding-left: 4px;
	font-style: italic;
	font-weight: bold;
	font-size: 90%;
	color: #c1df1f;	/*pear*/
}


/*----- Content -----*/

main {
	margin: 0px 5px;
}

h1 {
	color: #0074cc;		/*blue*/
	font-weight: bold;
	font-size: 150% !important;
	margin-top: 0px;
}

h2 {
	color: #0074cc;		/*blue*/
	font-weight: bold;
	font-size: 130% !important;
}

p {
	margin: 0px;
}

.update {
	margin-bottom: 10px;
}

summary {
	cursor: pointer;
	display: list-item !important;
	list-style-position: inside;
	font-weight: bold;
	font-size: 110%;
	color: #c14b0b;		/*mahogany*/
}

details, .chart {
	width: 100%;
	display: inline-block;
	float: left;
	background: #ffffff;
}

details > p {
	margin: 0px 17px;
	padding-bottom: 10px;
}

details > p > a {
	color: #c14b0b;		/*mahogany*/
	text-decoration: underline;
}

.output {
	font-family: consolas, monospace;
	font-size: 90%;
	background: #ededed;
}

ul {
	padding-inline-start: 20px;
}

li {
	list-style-type: none;
}

.refresh {
	text-align: right;
	font-style: italic;
	font-size: 95%;
}

.chart, .google-visualization-table {	
	border: solid 1px #0074cc;	/*blue*/
}

.chart {
	width: 100% !important;
	min-height: 240px;
	margin-bottom: 20px;
}

div > .legend {
	display: inline-block;
	float: right;
	margin: 0px auto;
}

.legend {
	height: 23px;
}

th, td, .google-visualization-table-td.google-visualization-table-type-number {	
	text-align: center !important;
}

h1 > a > i, h2 > a > i, th {
	color: #c14b0b;		/*mahogany*/
}

.google-visualization-table-table {	
	font-family: Verdana,Helvetica,Arial,sans-serif !important;
	font-size: 85% !important;
}

th {			
	font-size: 95% !important;
}

.noborder {				
	border: none;	
	margin-top: 15px;
}


/*----- Print view -----*/

@media print {
	body {
		font-family: Verdana, Helvetica, Arial, sans-serif;
		font-size: 10pt !important;
		display: block;				/* remove sticky footer*/
		min-height: 50vh;
	}

	h1, h2 {
		color: #0074cc !important;		/*blue*/
	}

	h1 > a, h2 > a, summary, th, details > p > a {
		color: #c14b0b !important;		/*mahogany*/
	}

	img {
		width: 85% !important;
		margin: 0 auto;
	}

	#chart_div_Treas0 {
		margin: 0 auto !important;
	}

	.noborder {			/*only used in gallery page*/
		width: 32% !important;
		margin: 7px auto;
	}
}
