/*----------------------------*/
/*-- My Tools - v 2.0       --*/
/*-- last update 2023-02-26 --*/
/*----------------------------*/

/*----- Navigation bar & footer -----*/

body {
	font-family: Verdana,Helvetica,Arial,sans-serif;
	font-size: 14px;
}

nav, footer {
	background-color: #7d4600;	/*chocolate*/
}

.navbar {
	border-radius: 0px;
}

.navbar-brand {
	width: 150px;
	font-weight: bold;
	color: #c1df1f !important;	/*pear*/
}

button, .btn {
	background-color: #f26419 !important;	/*orange*/
	color: #000000;
	font-weight: bold !important;
	margin: 10px 30px;
}

.btn {
	height: 30px;
	width: 120px;
	padding: 5px !important;
}

.btn.active {
	box-shadow: none;
	background-color: #0074cc !important;	/*blue*/
	color: #ffffff !important;	/*white*/
}

.btn:hover {
	color: #ffffff;	/*white*/
}

.icon-bar {
	background-color: #ffffff;	/*white*/
}

footer {
	height: 20px;
	margin-top: 30px;
	padding-top: 2px;
	padding-left: 15px;
	font-style: italic;
	font-weight: bold;
	font-size: 80%;
	color: #c1df1f;	/*pear*/
}


/*----- Content -----*/

main {
	margin: 15px;
}

h1 {
	color: #0074cc;		/*blue*/
	font-weight: bold;
	font-size: 250%;
}

summary {
	cursor: pointer;
	display: list-item;
	font-weight: bold;
	font-size: 150%;
	color: #c14b0b;		/*mahogany*/
	padding-top: 10px;
}

details {
	display: inline-block;
	float: left;
}

details > p {
	margin: 0px 25px;
	padding-bottom: 10px;
}

details > p > a {
	color: #c14b0b;		/*mahogany*/
	text-decoration: underline;
}

img, .chart {			/*.chart only used in currency page*/
	border: solid 1px #0074cc;	/*blue*/
}

.chart {
	width: 100% !important;
	min-height: 300px;
}

.noborder {				/*only used in gallery page*/
	border: none;	
	margin-top: 15px;
}


/*----- Print view -----*/

@media print {
	h1 {
		color: #0074cc !important;		/*blue*/
	}

	summary {
		color: #c14b0b !important;		/*mahogany*/
	}

	details > p {
		font-size: 105%;
	}
	
	img {
		width: 85% !important;
		margin: 0 auto;
	}

	.noborder {
		width: 32% !important;
		margin: 7px auto;
	}
}
