/*------------------------------*/
/*-- My Photo Gallery - v 1.1 --*/
/*--  last update 2023-02-12  --*/
/*------------------------------*/

body {
	margin: 1vw;
}

#menusign{
	color: #fff;
}

#tablediv{
	width: 80%;
	margin: 0 auto;
}

@media screen and (min-width:768px) {
	#tablediv{
		width: 65%;
		margin: 0 auto;
	}
}

@media screen and (min-width:992px) {
	#tablediv{
		width: 50%;
		margin: 0 auto;
	}
}

img, video {
	margin-top: 1vh;
}

footer {
	margin-top: 3vw;
	font-style: italic;
	font-weight: bold;
	font-size: 80%;
	color: #9d9d9d;
}